/* CSS variables for easy color recall */
:root{
    --space-grey: #1f2021;
    --dark-grey: #303233;
    --blue-light: #2A6BBF;
    --blue-dark: #021E73;
    --blue-bold: #04268C;
    --blue-deep: #01103c;
    --pink: #F25CCA;

}

* {
    padding:0;
    margin:0;
}
/* Sets default font size to 10px to make em calculations more intuitive (2m = 20px) and font families */

html{
    font-size: 62.5%;
    font-family: Helvetica, Arial,  sans-serif
}

p{
    font-size: 2.4rem;
}

.header{
    background-color: var(--blue-dark);
    display: flex;
    height:130px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid var(--blue-bold);
}
/* Header title styling */
.title{
    margin: 5px;
    margin-left:0;
    padding: 10px 2vw ;
    padding-left: 8vw;
    background-color:var(--blue-bold);
    font-size: 6rem;
    color: var(--pink);
    border: 5px solid var(--pink);
    border-left: none;
}

.navbar{
    margin-right:3%;
}

.navbar ul li{
    border-bottom: 5px solid var(--pink);
    display: inline-block;
    /* controls underline width for navbar links */
    margin: 0 1.0vw;
    padding: 0 25px;
    
}
.navbar ul li a{
    color: var(--pink);
    font-size: 3em;
    text-decoration: none;
    /* margin: 0 0; */
}
/* image anchored below the header and navbar */
.hero {
    display: flex;
    height: 20vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../hero.jpg");
    background-size: 50vw auto;
    /* url("https://via.placeholder.com/1000/#0000FF/#808080?Text=Placeholder"); */
    justify-content: flex-end;
    align-items:flex-end;

}
.caption-hero{
    margin:1vw;
    margin-bottom:0px;
    font-size: 3em;
    background-color: var(--blue-bold);
    color: var(--pink);
    padding: .5em;
    border: 5px solid var(--pink);
    border-bottom: none;
}

/* Contains all main content in a flexbox */
.container{
    margin:2vw 4vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
}

/* contains section groups within the main content, including the .section-heading and .section-content classes */
.section-wrapper{
    display: flex;
    margin: 5%;
    /* flex-wrap: wrap; */
}

/* Section Headings anchored to left side of screen. Border-right on creates visual divider */
.section-heading{
    border-right: 5px solid var(--blue-bold);
    margin: 20px;
    padding: 10px;
    flex: 20%;
    text-align: right;
    color: var(--blue-bold);
}
.section-heading h2{
    margin-top: auto;
    font-size: 3.5em;
}
/* Section Content houses  */
.section-content{
    /* display: flex; */
    margin: 20px;
    padding: 10px;
    flex:75%;
    padding-bottom: 2%;
}

/* ********************** Work Card ************************************************************************************************** */
.work-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
}
/* Contains project title/info in a card */
.work-card{
    display: flex;
    margin:1em;
    width: 40%;
    height: 30em;
    /* Flex 35% sets cards to a small enough size to have margins but large enough to only be able to fit 2 per row */
    flex:35%;
    border: 10px solid var(--blue-bold);
    color: white;
    align-items: flex-end;
    /* Makes elements assigned the work-card positioned so the card-caption class is able to position itself within it */
    position:relative;
}
/* Sets the first card in the work section to be larger than the others and stand by itself on its own row */
.work-card.first{
    flex:75%;
    height:50em;
}
/* caption box to display work information */
.card-caption{
    /* position:absolute lets caption overlap the image within the work-card container rather than being placed adjacent to it */
    position: absolute;
    padding:.5em;
    padding-right: 4em;
    margin: 2vh 1vh;
    margin-left: -.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width:45%; */
    height: 10em;
    background-color: var(--blue-bold);
}
.card-caption h4{
    margin: 0%;
    margin-left: 10%;
    padding-left:2%;
    font-size: 1.7rem;
    border-left: 2px solid var(--pink);
    z-index:1;
}
.card-caption h3{
    font-family: 'Lucida Sans';
    margin-left:2.5%;
    font-size: 3rem;
    color: var(--pink);
    text-decoration: none;
    
    }
.card-caption.first{
    width: 23%;
}
.work-image{
    -webkit-filter: blur(4px);
    filter:blur(4px);
    /* Putting transition code in this class instead of :hover makes the effect appear when hover transitions between active and inactive both ways*/
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}
/* When a work card is hovered over by user, that card's image will become clear. */
.work-card:hover .work-image{
    filter:blur(0);
}
/* Forces image to fill confines of parent container without altering dimensions */
.image-fill{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#surf-report{
    object-position: center 63%;
}

#led-wall{
    object-position: center center;
}

#calculator{
    object-position: center 45%;
}

#pastel-puzzles{
    object-position: center 80%;
}

#run-buddy{
    object-position: center 93%;
}

/* Inline links to contact info styled li*/
#contact-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.contact-list ul {
    margin:auto;
    padding: auto;
}
.contact-list ul li{
    border-bottom: 5px solid var(--pink);
    display: inline-block;
    margin: 0 2em;
    padding: 1em 2em;
    
    
}
.contact-list ul li a{
    text-align: center;
    color: var(--blue-bold);
    font-size: 2.2em;
    text-decoration: none;
    margin: 1em;

}

.navbar ul li a{
    color: var(--pink);
    font-size: 3em;
    text-decoration: none;
} 

/* ************************************************************************ Media Queries ************************************************************************ */
@media screen and (max-width: 1450px){
    p{
        font-size: 2.2rem;
    }
    .title{
        font-size: 5.25rem;
        padding: 10px 1.75vw;
        padding-left: 6vw;
        overflow: hidden;
        white-space: nowrap;
    }
    /* ************************ NavBar Settings ************************ */
    .navbar ul li{
        border-bottom: 5px solid var(--pink);
        display: inline-block;
        margin: 0 0.5em;
        padding: 0 25px;
    }
    .navbar ul li a{
        font-size: 2.25em;
        
    }

    /* ************************ Hero Settings ************************ */
    .hero{
        height: 19vh;
    }
    .caption-hero{
        font-size: 2.5em;
    }

    /* ************************ Contact Me Settings ************************ */
    .contact-list ul li{
        border-bottom: 3px solid var(--pink);
        display: inline-block;
        margin: 0 0.5em;
        padding: 0 12.5px;
    }
    .contact-list ul li a{
        font-size: 1.8rem;
    }
  }

/* tablet sized screens */
@media screen and (max-width: 1050px){
    p{
        font-size: 2rem;
    }
    .header{
        height:100px;
        border-bottom: 8px solid var(--blue-bold);
    }
    .title{
        font-size: 4rem;
        padding: 10px 1.25vw ;
        padding-left: 4vw;
        overflow: hidden;
        white-space: nowrap;
        
    }

    /* ************************ NavBar Settings ************************ */
    .navbar ul li{
        border-bottom: 4px solid var(--pink);
        display: inline-block;
        padding: 0 5px;
        margin:0.3em;
    }
    .navbar ul li a{
        font-size: 2em;
        margin:10px;
        
    }

    /* ************************ Hero Settings ************************ */

    /* ************************ Section Settings ************************ */
    .section-heading{flex:20%}
    .section-content{flex:80%}


    /* ************************ Work Card Settings ************************ */
    .work-card{
        height:25em;
    }
    .work-card.first{
        height: 35em;
    }
    .card-caption{
        
    }
    .card-caption.first{
        width: 30%;
    }
    .card-caption h3{
        font-size: 2.5rem; 
        margin: 0;
        text-align: left;
    }
    .card-caption h4{font-size: 1.5rem;}

    /* ************************ Contact Me Settings ************************ */
    .contact-list ul li{
        border-bottom: 3px solid var(--pink);
        display: inline-block;
        
    }
    .contact-list ul li a{
        font-size: 1.44rem;
        
    }
  }
@media screen and (max-width: 768px){
    p{
        font-size: 1.8rem;
    }
    .header{
        height: 80px;
        border-bottom:5px solid var(--blue-bold);
    }
    .title{
        font-size: 2.75rem;
        padding: 1vh 2vw ;
        padding-left: 6vw;
        overflow: hidden;
        white-space: nowrap;
    }

    /* ************************ NavBar Settings ************************ */
    .navbar ul li a{
        font-size: 1.75rem;
        padding: auto;
        margin:auto;
        
    }

    /* ************************ Section Settings ************************ */
    .section-heading{
        flex:15%;
    }
    .section-content{
        flex:85%;
    }

    /* ************************ Work Car Settings ************************ */
    .work-card{}
    .workcard.work-card.first{}
    .card-caption{}
    .card-caption.first{}
    .card-caption h3{

    }
    .card-caption h4{}

    /* ************************ Contact Me Settings ************************ */
    .contact-list ul li{
        border-bottom: 3px solid var(--pink);
        display: inline-block;
    }
}
@media screen and (max-width: 576px){
    p{
        font-size: 1.6rem;
    }
    .header{
        height: 75px;
        border-bottom: 4px solid var(--blue-bold);
    }
    .title{
        font-size: 2.5rem;
        padding: 10px 20px ;
        padding-left: 6vw;
        overflow: hidden;
        white-space: nowrap;
    }

    /* ************************ NavBar Settings ************************ */
    .navbar ul li{
        border-bottom: 3px solid var(--pink);
        display: inline-block;
        padding: auto;
        margin:auto;
    }
    .navbar ul li a{
        font-size: 1.25em;
        
    }

    /* ************************ Hero Settings ************************ */
    .hero{
        height: 13vh;
    }
    .caption-hero{
        font-size: 1.3rem;
    }

    /* ************************ Work Car Settings ************************ */
    .work-card{}
    .workcard.work-card.first{}
    .card-caption{}
    .card-caption.first{}
    .card-caption h3{}
    .card-caption h4{}

    /* ************************ Contact Me Settings ************************ */
    .contact-list ul li{
        border-bottom: 3px solid var(--pink);
    }
    .contact-list ul li a{
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    
}