/* CSS variables for easy color recall */
:root{
    --space-grey: #1f2021;
    --dark-grey: #303233;
    --blue-light: #2A6BBF;
    --blue-dark: #021E73;
    --blue-bold: #04268C;
    --pink: #F25CCA;

}

* {
    padding:0;
    margin:0;
}
/* Sets default font size to 10px to make em calculations more intuitive (2m = 20px) and font families */

html{
    font-size: 62.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

p{
    font-size: 1.8em;
}

.header{
    background-color: var(--space-grey);
    display: flex;
    height:10vh;
    align-items: center;
    justify-content: space-between;
    
}
/* Header title styling */
.title{
    padding: 1vh 2vw ;
    padding-left: 6vw;
    background-color:var(--blue-dark);
    font-size: 6em;
    color: var(--pink);
    border: 5px solid #ddd;
    border-left: none;
}

.navbar{
    margin-right:2%;
}

.navbar ul li{
    border-bottom: 5px solid var(--pink);
    display: inline-block;
    margin: 0 15px;
    padding: 0 15px;
    
}
.navbar ul li a{
    color: var(--pink);
    font-size: 3em;
    text-decoration: none;
    margin: 0 10px;;
}
/* image anchored below the header and navbar */
.hero {
    display: flex;
    height: 20vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../hero.jpg");
    background-size: 50vw auto;
    /* url("https://via.placeholder.com/1000/#0000FF/#808080?Text=Placeholder"); */
    justify-content: flex-end;
    align-items:flex-end;

}
.caption-hero{
    margin:1vw;
    margin-bottom:0px;
    font-size: 3em;
    background-color: var(--blue-dark);
    color: var(--pink);
    padding: .5em;
    border: 3px solid #ddd;
    border-bottom: none;
}

/* Contains all main content in a flexbox */
.container{
    margin:2vw 4vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
}

.section-wrapper{
    display: flex;
}

.section-heading{
    border-right: 5px solid var(--blue-bold);
    margin: 20px;
    padding: 10px;
    flex: 15%;
    text-align: right;
    color: var(--blue-bold)
}
.section-heading h2{
    margin-top: auto;
    font-size: 3.5em;
}
/* Houses  */
.section-content{
    border: 5px solid red;
    margin: 20px;
    padding: 10px;
    /* Keeps content anchored to the right of the wrapper flexbox without overflowing to the next row when situated next to .section-heading */
    flex:75%;
}
.work-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
}
.work-card{
    display: flex;
    margin:1em;
    /* width: 40%; */
    height: 20em;
    flex:35%;
    border: 5px solid var(--blue-dark);
    color: white;
    align-items: flex-end;
}

.work-card.first{
    flex:75%;
    height:30em;
    
}
.led-wall{
    background-image: url("led-wall.png");
    background-size: 100% auto;
}

.card-caption{
    font-size: 2.5em;
    background-color: var(--blue-dark);
    color: var(--pink);
    padding: .5em;
    border: 3px solid #ddd;
    position: absolute;
    margin: 2vh 1vw
}
.card-caption h3{

}
.card-caption h4{
    
}

.fill-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#surf-report{
    object-position: center 63%;
}

#led-wall{
    object-position: center 63%;
}

#calculator{
    object-position: center 63%;
}

#pastel-puzzels{
    object-position: center 63%;
}

#run-buddy{
    object-position: center 63%;
}

/* Inline links to contact info styled li*/
.contact-container{
    display:flex;
    justify-content: space-around;
}
.contact-list ul li{
    border-bottom: 5px solid var(--pink);
    display: inline-block;
    margin: 0 15px;
    padding: 5px 15px;
    
}
.contact-list ul li a{
    color: var(--blue-bold);
    font-size: 3em;
    text-decoration: none;
    margin: 10px;

}
/* tablet sized screens */
@media screen and (max-width: 992px) {
    .title{
        font-size: 3em;
        padding: 1vh 2vw ;
        padding-left: 6vw;
        overflow: hidden;
        white-space: nowrap;
    }
    .navbar ul li a{
        font-size: 2em;
        margin:5px;
        padding: 2%;
        
    }
    .contact-list ul li{
        border-bottom: 3px solid var(--pink);
        display: inline-block;
    }
  }
@media screen and (max-width: 768px){
    .title{
        font-size: 3em;
        padding: 1vh 2vw ;
        padding-left: 6vw;
        overflow: hidden;
        white-space: nowrap;
    }
    .navbar ul li a{
        font-size: 2em;
        margin:5px;
        padding: 2%;
        
    }
    .contact-list ul li{
        border-bottom: 3px solid var(--pink);
        display: inline-block;
    }
}
@media screen and (max-width: 576px){
    .title{
        font-size: 3em;
        padding: 1vh 2vw ;
        padding-left: 6vw;
        overflow: hidden;
        white-space: nowrap;
    }
    .navbar ul li a{
        font-size: 2em;
        margin:5px;
        padding: 2%;
        
    }
    .contact-list ul li{
        border-bottom: 3px solid var(--pink);
        display: inline-block;
    }
}